<div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="12px grid">
  <div fxFlex="1 1 100%" style="padding: 0!important">
    <div *ngIf="updateMessages.length > 0">
      <div *ngFor="let updateMsg of updateMessages">
        <div class="alert alert-primary messages" role="alert" close="true">
          <button ng-show="alert.closeable" type="button" class="close" data-dismiss="alert"><span>&times;
            </span><span class="sr-only">Close</span>
          </button>
          {{updateMsg}} <br /><br />
        </div>
      </div>
    </div>

    <div *ngIf="autoRemoveMessages.length > 0">
      <div *ngFor="let removeMsg of autoRemoveMessages">
        <div class="alert alert-primary messages" role="alert" close="true">
          <button ng-show="alert.closeable" type="button" class="close" data-dismiss="alert"><span>&times;
            </span><span class="sr-only">Close</span>
          </button>
          {{removeMsg}} <br /><br />
        </div>
      </div>
    </div>

    <div class="alert alert-primary messages" role="alert" *ngIf="cartItems == null && infoMessage == null">
      Your Cart is Empty! <br /><br />
      <button color="accent" mat-flat-button routerLink="/index">Go Back to Shopping</button>
    </div>

    <div class="alert alert-danger messages" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
    <div class="alert alert-primary messages" role="alert" *ngIf="removeMessage && !removeMessageClose">
      {{removeMessage}}</div>
    <div *ngIf="infoMessage && !infoMessageClose" class="alert alert-success messages" role="alert">
      {{infoMessage}} <br/><br/>
      <button color="accent" mat-flat-button routerLink="/index">Continue Shopping</button>
    </div>
  </div>

  <div *ngIf="cartItems != null" class="mat-elevate-z3" fxFlex="1 1 98%">
    <mat-card class="card">

      <mat-card-content>
        <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="12px grid">
          <div fxFlex="1 1 65%">
            <mat-card *ngFor="let cartItem of cartItems; let i = index" style="margin-bottom: 1vw">
              <mat-card-header>
                <mat-card-title class="cardTitle">

                  <span [routerLink]="['/product', cartItem.productEntity.productId]" style="cursor:pointer">
                    {{cartItem.productEntity.name}}
                  </span>


                  <button (click)="removeFromCart(cartItem)" color="warn" mat-icon-button
                          style="margin-top: -8px; margin-right: -10px">
                    <mat-icon class="removeIcon">remove_circle</mat-icon>
                  </button>

                </mat-card-title>
              </mat-card-header>
              <mat-divider></mat-divider>
              <mat-card-content style="padding-top: 1vw">
                <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="12px grid">
                  <div fxFlex="1 1 20%">
                    <a [routerLink]="['/product', cartItem.productEntity.productId]">
                      <img class="avatar" src="{{cartItem.productEntity.productImageUrl}}">
                    </a>
                  </div>

                  <div fxFlex="1 1 30%">
                    {{cartItem.productEntity.description}}<br/><br/>
                    <span class="stock">({{cartItem.productEntity.quantityOnHand}} items remaining)</span>
                  </div>

                  <div class="priceCol" fxFlex="1 1 15%">
                    {{format(cartItem.unitPrice)}}
                  </div>

                  <div fxFlex="1 1 35%">
                    <table class="table" style="text-align: center">
                      <tr>
                        <td>
                          Quantity:
                        </td>
                        <td>
                          <button (click)="minus(cartItem)" class="addMinusBtns" disabled="{{cartItem.quantity==1}}"
                                  mat-button>-
                          </button>
                          {{cartItem.quantity}}
                          <button (click)="add(cartItem)" class="addMinusBtns"
                                  disabled="{{cartItem.quantity >= cartItem.productEntity?.quantityOnHand}}"
                                  mat-button>+
                          </button>
                        </td>
                      </tr>
                      <tr>

                        <td>
                          <strong>Total:</strong>
                        </td>

                        <td>
                          <span *ngIf="!applyingDiscountForItems || cartItem.subTotal == cartItemsCopy[i].subTotal">
                            {{format(cartItem.subTotal)}}
                          </span>
                          <span *ngIf="applyingDiscountForItems && cartItem.subTotal != cartItemsCopy[i].subTotal">
                            <span class="discountedPrice">
                              {{format(cartItemsCopy[i].subTotal)}}
                            </span><br/>
                            <s>{{format(cartItem.subTotal)}}</s>
                          </span>
                        </td>

                      </tr>
                    </table>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
            <div style="width: 100%; text-align: right">
              <button (click)="clearCart()" color="warn" mat-raised-button style="margin-bottom: 1vw">
                <mat-icon>remove_shopping_cart</mat-icon>
                Clear Cart
              </button>
            </div>
          </div>

          <div fxFlex="1 1 35%">
            <mat-card>
              <mat-card-header class="orderSummaryHeader">
                <mat-card-title>
                  Order summary
                </mat-card-title>
              </mat-card-header>
              <mat-divider></mat-divider>
              <mat-card-content>
                <table class="table">
                  <tr>
                    <td class="leftCell"><strong>
                        <span *ngIf="totalQuantityForTheCart == 1">
                          Subtotal ({{totalQuantityForTheCart}} item)
                        </span>
                      <span *ngIf="totalQuantityForTheCart > 1">
                          Subtotal ({{totalQuantityForTheCart}} items)
                        </span>
                    </strong>
                    </td>
                    <td>
                      <span *ngIf="!applyingDiscountForItems">
                        {{format(totalAmountForTheCart)}}
                      </span>
                      <span *ngIf="applyingDiscountForItems">
                        <span class="discountedPrice">
                          {{format(totalAmountDiscounted)}}
                        </span><br/>
                        <s>{{format(totalAmountForTheCart)}}</s>
                      </span>
                    </td>
                  <tr>
                    <td class="leftCell">
                      <mat-form-field>
                        <mat-label>Select Promo Code</mat-label>
                        <mat-select (openedChange)="resetSelected()" [(ngModel)]="currentSelectedDiscountCode"
                                    name="promoCode">
                          <mat-option *ngFor="let dc of customerDiscountCodes" [value]="dc">
                            {{dc.discountCode}} {{getDiscountCodeMessage(dc.discountCodeId)}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                    <td style="vertical-align: center">
                      <button (click)="applyDiscountCode()" color="primary" mat-raised-button> Apply</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="leftCell">
                      <strong>After Discount Code:</strong>
                    </td>
                    <td>
                      <span *ngIf="!applyingDiscountForCart && !applyingDiscountForItems">
                        {{format(totalAmountForTheCart)}}
                      </span>
                      <span *ngIf="applyingDiscountForCart">
                        <span *ngIf="flatDiscountAmountForCart != null">
                          <span class="discountedPrice">
                            {{format(totalAmountForTheCart - flatDiscountAmountForCart)}} </span><br/>
                          <s>{{format(totalAmountForTheCart)}}</s>
                        </span>
                        <span *ngIf="rateDiscountAmountForCart != null">
                          <span class="discountedPrice">
                            {{format(totalAmountForTheCart - totalAmountForTheCart * (rateDiscountAmountForCart / 100))}}
                          </span><br/>
                          <s>{{format(totalAmountForTheCart)}}</s>
                        </span>
                      </span>
                      <span *ngIf="applyingDiscountForItems">
                        <span class="discountedPrice">
                          {{format(totalAmountDiscounted)}}
                        </span><br/>
                        <s>{{format(totalAmountForTheCart)}}</s>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      Use Your Points ($0.05/Point) - Maximum 50%
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-slider [(ngModel)]="pointsToUse" [max]="getMaxPointsAllowed()" [min]="0" [step]="1"
                                  style="width:100%"></mat-slider>
                    </td>
                    <td>
                      {{pointsToUse}} Points = {{format(pointsToUse * 0.05)}} Off
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Final Total:</strong>
                    </td>
                    <td>
                      <span *ngIf="!applyingDiscountForCart && !applyingDiscountForItems && pointsToUse == 0">
                        {{format(totalAmountForTheCart)}}
                      </span>

                      <span *ngIf="!applyingDiscountForCart && !applyingDiscountForItems && pointsToUse > 0">
                        <span class="discountedPrice">
                          {{format(totalAmountForTheCart - pointsToUse * 0.05)}}
                          </span><br/>
                            <s>{{format(totalAmountForTheCart)}}</s>
                      </span>

                      <span *ngIf="applyingDiscountForCart">

                          <span *ngIf="flatDiscountAmountForCart != null">
                            <span *ngIf="pointsToUse == 0">
                              <span class="discountedPrice">
                                {{format(totalAmountForTheCart - flatDiscountAmountForCart - pointsToUse * 0.05)}} </span><br/>
                              <s>{{format(totalAmountForTheCart)}}</s>
                            </span>
                            <span *ngIf="pointsToUse > 0">
                              <span class="discountedPrice">
                                {{format(totalAmountForTheCart - flatDiscountAmountForCart - pointsToUse * 0.05)}} </span><br/>
                              <s>{{format(totalAmountForTheCart - flatDiscountAmountForCart)}}</s>
                            </span>
                          </span>

                          <span *ngIf="rateDiscountAmountForCart != null">

                             <span *ngIf="pointsToUse == 0">
                                <span class="discountedPrice">
                                  {{format((totalAmountForTheCart - totalAmountForTheCart * (rateDiscountAmountForCart / 100) - pointsToUse * 0.05))}}
                                </span><br/>
                                <s>{{format(totalAmountForTheCart)}}</s>
                             </span>

                            <span *ngIf="pointsToUse > 0">
                                <span class="discountedPrice">
                                  {{format((totalAmountForTheCart - totalAmountForTheCart * (rateDiscountAmountForCart / 100) - pointsToUse * 0.05))}}
                                </span><br/>
                                <s>{{format(totalAmountForTheCart - totalAmountForTheCart * (rateDiscountAmountForCart / 100))}}</s>
                            </span>

                          </span>
                      </span>

                      <span *ngIf="applyingDiscountForItems">

                          <span *ngIf="pointsToUse==0">
                            <span class="discountedPrice">
                              {{format(totalAmountDiscounted - pointsToUse * 0.05)}}
                            </span><br/>
                            <s>{{format(totalAmountForTheCart)}}</s>
                          </span>

                          <span *ngIf="pointsToUse>0">
                            <span class="discountedPrice">
                              {{format(totalAmountDiscounted - pointsToUse * 0.05)}}
                            </span><br/>
                            <s>{{format(totalAmountDiscounted)}}</s>
                          </span>

                      </span>
                    </td>
                  </tr>
                </table>
                <button (click)="checkout(cartItems)" *ngIf="totalQuantityForTheCart != 0" class="checkout"
                        color="accent"
                        mat-raised-button> Checkout
                </button>
              </mat-card-content>

            </mat-card>

          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>


