<table mat-table [dataSource]="customersLeaderboardTotalMax5" multiTemplateDataRows class="mat-elevation-z1">

    <ng-container matColumnDef="First Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let c"> {{c.firstName}} {{c.lastName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Points for Current Month">
      <th mat-header-cell *matHeaderCellDef> Total Points </th>
      <td mat-cell *matCellDef="let c"> {{c.totalPoints | number:'0.0-2'}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Multiplier">
      <th mat-header-cell *matHeaderCellDef> Tier </th>
      <td mat-cell *matCellDef="let c"> {{c.membershipTierEnum}} </td>
    </ng-container>
  
    <ng-container matColumnDef="table-header">
      <th mat-header-cell class="header" colspan="3" *matHeaderCellDef> All-Time Leaderboard {{currentDate |  date:'yyyy'}} </th>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="['table-header']"> </tr>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>

    <!--USE THIS-->
    <tr mat-row *matRowDef="let customer; columns: columnsToDisplay" ></tr>
  
  
  </table>