<div class="dialogBg">
  <form>
    <h1 mat-dialog-title style="text-align: center">Log In</h1>
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{errorMessage}}
    </div>
    <div class="dialog-content" mat-dialog-content>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input [(ngModel)]="username" matInput name="usernameField">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input [(ngModel)]="password" matInput name="passwordField" type="password">
      </mat-form-field>
    </div>
    <div class="actions" mat-dialog-actions>
      <button (click)="login()" cdkFocusInitial color="primary" mat-raised-button class="login">Login</button>
      <button (click)="exit()" color="warn" mat-raised-button class="exit">Exit</button>
    </div>
  </form>

</div>
