<mat-accordion multi="true">
  <mat-expansion-panel *ngFor="let review of reviewChain" [disabled]="true"
    [expanded]="isReplying && review.reviewId == staffReplyToReplyTo.reviewId">
    <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
      <mat-panel-title class="reviewTitle">
        {{review.staffEntity?.firstName}} {{review.staffEntity?.lastName}}
        {{review.customerEntity?.firstName}} {{review.customerEntity?.lastName}}
        <br />
        <button mat-raised-button color="accent" class="editReplyBtn"
          *ngIf="review.customerEntity != null && review.customerEntity.customerId == currentCustomer.customerId && !(isEditing && review.reviewId == editReviewId)"
          (click)="editing(review)">Edit Reply</button>
        <button mat-raised-button color="primary" class="editReplyBtn saveBtn"
          *ngIf="review.customerEntity != null && review.customerEntity.customerId == currentCustomer.customerId && isEditing && review.reviewId == editReviewId"
          form="updateForm" type="submit">Save</button>
        <button mat-raised-button color="warn" class="editReplyBtn"
          *ngIf="review.customerEntity != null && review.customerEntity.customerId == currentCustomer.customerId && isEditing && review.reviewId == editReviewId"
          (click)="cancelEdit(review)">Cancel Edit</button>

        <button mat-raised-button color="accent" *ngIf="review.reviewDate == 
              reviewChain[reviewChain.length-1].reviewDate && review.staffEntity != null
              && review.parentReviewEntity.customerEntity.customerId == currentCustomer.customerId"
          (click)="replying(review)" class="editReplyBtn">Reply</button>

      </mat-panel-title>
      <mat-panel-description>
        <mat-list role="list" style="width: 100%">
          <mat-list-item role="listitem"><strong>{{review.reviewDate | date:'medium'}}</strong></mat-list-item>

          <mat-list-item *ngIf="!(review.customerEntity != null && isEditing && review.reviewId == editReviewId)" role="listitem">{{review.content}}
          </mat-list-item>

          <mat-list-item *ngIf="review.customerEntity != null && isEditing && review.reviewId == editReviewId">

            <form #updateForm="ngForm" (ngSubmit)="updateForm.valid?saveEdit():null" class="custReplyForm"
              id="updateForm">
              <mat-form-field class="replyContentField">
                <textarea matInput name="updateTextArea" [(ngModel)]="updatedReplyContent" #updateTextContent="ngModel"
                  required></textarea>
                <mat-error *ngIf="updateTextContent.errors?.required">
                  Content is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </form>

          </mat-list-item>

        </mat-list>

      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-expansion-panel [disabled]="true">
      <mat-expansion-panel-header>
        <mat-panel-title class="reviewTitle">
          {{currentCustomer?.firstName}} {{currentCustomer?.lastName}}
          <button mat-raised-button type="submit" *ngIf="isReplying && review.reviewId == staffReplyToReplyTo.reviewId"
            color="primary" class="editReplyBtn2" form="custReplyForm" type="submit" >Submit Reply</button>&nbsp;
          <button mat-raised-button type="reset" *ngIf="isReplying && review.reviewId == staffReplyToReplyTo.reviewId"
            color="warn" class="editReplyBtn2" (click)="cancelReply()">Cancel</button>
        </mat-panel-title>
        <mat-panel-description>
          <form #replyForm="ngForm" (ngSubmit)="replyForm.valid?reply():null" class="custReplyForm" id="custReplyForm">
            <mat-form-field class="replyContentField">
              <textarea matInput name="replyTextArea" [(ngModel)]="replyContent" placeholder="Enter your reply"
                #replyTextContent="ngModel" required></textarea>
              <mat-error *ngIf="replyTextContent.errors?.required">
                Content is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </form>
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

  </mat-expansion-panel>
</mat-accordion>