mat-expansion-panel {
    height: auto !important;
}

mat-expansion-panel-header {
    height: auto !important;
}

mat-panel-description {
    flex-grow: 7 !important;
    height: auto !important;
    padding-bottom: 2vw;
    flex-basis: auto !important;
}

mat-panel-title{
    color: black !important;
    flex-wrap: wrap !important;
    height: auto !important;
}

.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
    flex-basis: inherit;
}


.reviewTitle{
    align-self: center
}

.replyContentField{
    width: 100%;
    color: black !important;
    margin-top: 2vw;
    margin-bottom: 1vw;
}


.custReplyForm{
    width: 100%
}

.submitReply{
    margin-bottom: 2vw;
}

.editReplyBtn{
    margin-top: 1vw;
    width: 100%;
}

.editReplyBtn2{
    margin-top: 0.2vw;
    width: 100%;
}
