mat-table {
    display: table;
    width: 100%;
}

th.mat-header-cell {
    text-align: center;
    vertical-align: middle;
}

td.mat-cell {
    vertical-align: middle;
}

.header {
    font-size: 2vw;
    vertical-align: middle;
    color: black;
}

tr.hidden-row {
    height: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

tr.dcRow:not(.expandedDcRow):hover {
    background: #f5f5f5;
}

.prodImage{
    width: 10vw;
    height: auto;
    cursor: pointer;
}

.imageCol{
    width: 30%;
    padding-left: 0 !important;
}

.prodName{
    cursor: pointer;
}

.expandable{
    cursor: pointer;
}