<mat-paginator color="accent" [length]="pageLength" [pageSize]="pageSize" [pageSizeOptions]="[2,4,8,12,16,20]"
  [pageIndex]="currentPage" (page)="handlePageEvent($event)" class="paginator mat-elevate-z4"></mat-paginator>
<div fxLayout="row wrap" fxLayoutGap="12px grid" fxLayoutAlign="start" class="card-deck-container">

  <div class="sidebar mat-elevate-z3" fxFlex="0 1 20%" fxFlexOrder="1">
    <mat-accordion style="height: 100%" displayMode="flat" multi="true">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Categories
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="subCategories?.length > 0; else elseBlock">
          <mat-selection-list #categoryList [(ngModel)]="selectedCategoryOptions" 
          (selectionChange)="doFilter()">
            <mat-list-option *ngFor="let subCategory of subCategories" [value]="subCategory.categoryId">
              {{subCategory.name}}
            </mat-list-option>
          </mat-selection-list>
        </div>
        <ng-template #elseBlock>No subcategories</ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Sort
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
          <mat-label>Select an option</mat-label>
          <mat-select #sortSelect [(ngModel)]="sortSelection" (selectionChange)="doFilter()">
            <mat-option value="alphAsc">Alphabetical (a-Z)</mat-option>
            <mat-option value="alphDsc">Alphabetical (Z-a)</mat-option>
            <mat-option value="pAsc">Price (Low to High)</mat-option>
            <mat-option value="pDsc">Price (High to Low)</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Price
          </mat-panel-title>
        </mat-expansion-panel-header>
        <span>
          <strong>Minimum:</strong> $
          <mat-form-field style="width: 50%">
            <input matInput [(ngModel)]="minPrice" type="number" (input)="doFilter()">
          </mat-form-field>
          <mat-slider [min]="0" [max]="1000" style="width:100%" [step]="1" [(ngModel)]="minPrice"
            (change)="doFilter()">
          </mat-slider>
        </span>

        <span>
          <strong>Maximum:</strong> $
          <mat-form-field style="width: 50%">
            <input matInput [(ngModel)]="maxPrice" type="number" (input)="doFilter()">
          </mat-form-field>
          <mat-slider [min]="0" [max]="1000" style="width:100%" [step]="1" [(ngModel)]="maxPrice"
            (change)="doFilter()">
          </mat-slider>
        </span>
      </mat-expansion-panel>

      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Tags
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list #tagList [(ngModel)]="selectedTagOptions" (selectionChange)="doFilter()">
          <mat-list-option *ngFor="let tag of allTags" [value]="tag.tagId">
            {{tag.name}}
          </mat-list-option>
        </mat-selection-list>
        <mat-form-field>
          <mat-label>Condition</mat-label>
          <mat-select [(ngModel)]="condition" (selectionChange)="doFilter()">
            <mat-option value="OR">OR (default)</mat-option>
            <mat-option value="AND">AND</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div fxFlex fxFlexOrder="2">
    <div fxLayout="row wrap" fxLayoutGap="8px grid" fxLayoutAlign="start">
      <ng-container *ngFor="let product of viewProducts" class="card-item">
        <app-product-card fxFlex="1 1 25%" [product]="product"></app-product-card>
      </ng-container>
    </div>
  </div>

</div>