<mat-paginator (page)="handlePageEvent($event)" [length]="pageLength" [pageIndex]="currentPage" [pageSizeOptions]="[6,12,18]"
               [pageSize]="pageSize" class="paginator mat-elevate-z4"
               color="accent"></mat-paginator>
<div class="card-deck-container" fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="12px grid"
     style="padding-right: 24px; margin-right: 0">

  <div class="sidebar mat-elevate-z3" fxFlex="1 1 20%" fxFlexOrder="1">
    <mat-accordion displayMode="flat" multi="true" style="height: 100%">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Categories</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="subCategories?.length > 0; else elseBlock">
          <mat-selection-list #categoryList (selectionChange)="doFilter()" [(ngModel)]="selectedCategoryOptions">
            <mat-list-option *ngFor="let subCategory of subCategories" [value]="subCategory.categoryId">
              {{subCategory.name}}
            </mat-list-option>
          </mat-selection-list>
        </div>
        <ng-template #elseBlock>No subcategories</ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Sort</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
          <mat-label>Select an option</mat-label>
          <mat-select #sortSelect (selectionChange)="doFilter()" [(ngModel)]="sortSelection">
            <mat-option value="alphAsc">Alphabetical (a-Z)</mat-option>
            <mat-option value="alphDsc">Alphabetical (Z-a)</mat-option>
            <mat-option value="pAsc">Price (Low to High)</mat-option>
            <mat-option value="pDsc">Price (High to Low)</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Price</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <span>
          <strong>Minimum:</strong> $
          <mat-form-field style="width: 50%">
            <input (input)="doFilter()" [(ngModel)]="minPrice" matInput type="number">
          </mat-form-field>
          <mat-slider (change)="doFilter()" [(ngModel)]="minPrice" [max]="1000" [min]="0" [step]="1" style="width:100%">
          </mat-slider>
        </span>

        <span>
          <strong>Maximum:</strong> $
          <mat-form-field style="width: 50%">
            <input (input)="doFilter()" [(ngModel)]="maxPrice" matInput type="number">
          </mat-form-field>
          <mat-slider (change)="doFilter()" [(ngModel)]="maxPrice" [max]="1000" [min]="0" [step]="1" style="width:100%">
          </mat-slider>
        </span>
      </mat-expansion-panel>

      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Tags</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
          <mat-label>Condition</mat-label>
          <mat-select (selectionChange)="doFilter()" [(ngModel)]="condition">
            <mat-option value="OR">OR (default)</mat-option>
            <mat-option value="AND">AND</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-selection-list #tagList (selectionChange)="doFilter()" [(ngModel)]="selectedTagOptions">
          <mat-list-option *ngFor="let tag of allTags" [value]="tag.tagId">
            {{tag.name}}
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div fxFlex="1 1 80%" fxFlexOrder="2">
    <!-- <div fxLayout="row wrap" fxLayoutGap="8px grid" fxLayoutAlign="start">
      <ng-container *ngFor="let product of viewProducts" class="card-item">
        <div fxFlex="1 1 25%" fxLayoutAlign="stretch">
          <app-product-card [product]="product"></app-product-card>
        </div>
      </ng-container>
    </div> -->
    <div gdArea gdColumns="33% 33% 33%" gdGap="12px" gdRows="1fr!">
      <ng-container *ngFor="let product of viewProducts" class="card-item">
        <app-product-card [product]="product"></app-product-card>
      </ng-container>
    </div>
  </div>

</div>
