<table mat-table [dataSource]="saleTransactions" multiTemplateDataRows class="mat-elevation-z1">

  <ng-container matColumnDef="saleTransactionId">
    <th mat-header-cell *matHeaderCellDef> Sale Transaction Id </th>
    <td mat-cell *matCellDef="let saleTransaction"> {{saleTransaction.saleTransactionId}} </td>
  </ng-container>

  <ng-container matColumnDef="totalLineItem">
    <th mat-header-cell *matHeaderCellDef> Total Line Item </th>
    <td mat-cell *matCellDef="let saleTransaction"> {{saleTransaction.totalLineItem}} </td>
  </ng-container>

  <ng-container matColumnDef="totalQuantity">
    <th mat-header-cell *matHeaderCellDef> Total Quantity </th>
    <td mat-cell *matCellDef="let saleTransaction"> {{saleTransaction.totalQuantity}} </td>
  </ng-container>

  <ng-container matColumnDef="totalAmount">
    <th mat-header-cell *matHeaderCellDef> Total Amount </th>
    <td mat-cell *matCellDef="let saleTransaction"> {{format(saleTransaction.totalAmount)}} </td>
  </ng-container>

  <ng-container matColumnDef="table-header">
      <th mat-header-cell class="header" colspan="4" *matHeaderCellDef> My Sale Transactions </th>
    </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="saleTransactionLineItems">
    <!-- Might need ngFor -->
    <td mat-cell *matCellDef="let saleTransaction" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
        [@detailExpand]="saleTransaction == expandedSaleTransaction ? 'expanded' : 'collapsed'">
        
        <div class="details">
            <!-- <div *ngFor="let lineItem of saleTransaction.saleTransactionLineItemEntities"> -->
                <table mat-table [dataSource]="saleTransaction.saleTransactionLineItemEntities" class="mat-elevation-z1">

                    <ng-container matColumnDef="productImage">
                      <th mat-header-cell *matHeaderCellDef> Product </th>
                      <td mat-cell *matCellDef="let lineItem" class="imageCol"> 
                          <img src={{lineItem.productEntity.productImageUrl}} 
                          [routerLink]="['/product', lineItem.productEntity.productId]">
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="productName" >
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let lineItem"> 
                          <span [routerLink]="['/product', lineItem.productEntity.productId]" class="prodName">
                            {{lineItem.productEntity.name}} 
                          </span>
                      </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="quantity">
                      <th mat-header-cell *matHeaderCellDef> Quantity </th>
                      <td mat-cell *matCellDef="let lineItem"> {{lineItem.quantity}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="sub-total">
                      <th mat-header-cell *matHeaderCellDef> Sub-total </th>
                      <td mat-cell *matCellDef="let lineItem"> {{format(lineItem.subTotal)}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
            </div>
        </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['table-header']"> </tr>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let saleTransaction; columns: columnsToDisplay;" class="example-element-row expandable"
    [class.example-expanded-row]="expandedSaleTransaction === saleTransaction"
    (click)="expandedSaleTransaction = expandedSaleTransaction === saleTransaction ? null : saleTransaction">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['saleTransactionLineItems']" class="example-detail-row"></tr>
</table>