<table mat-table [dataSource]="saleTransactions" multiTemplateDataRows class="mat-elevation-z8">
  
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let saleTransaction"> {{saleTransaction[column]}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="saleTransactionLineItems">
    <!-- Might need ngFor -->
    <td mat-cell *matCellDef="let saleTransaction" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
        [@detailExpand]="saleTransaction == expandedSaleTransaction ? 'expanded' : 'collapsed'">
        <div *ngFor="let lineItem of saleTransaction.saleTransactionLineItems">

        </div>
        <div class="example-element-description">
          {{saleTransaction.saleTransactionId}}
          <!-- Nest a static table inside here  -->
        </div>
        <div class="example-element-description">
          {{saleTransaction.totalQuantity}}
        </div>
      </div>
    </td>
    <!--  -->
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let saleTransaction; columns: columnsToDisplay;" class="example-element-row"
    [class.example-expanded-row]="expandedSaleTransaction === saleTransaction"
    (click)="expandedSaleTransaction = expandedSaleTransaction === saleTransaction ? null : saleTransaction">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['saleTransactionLineItems']" class="example-detail-row"></tr>
</table>