<table [dataSource]="saleTransactions" class="mat-elevation-z1" mat-table multiTemplateDataRows>

  <ng-container matColumnDef="saleTransactionId">
    <th *matHeaderCellDef mat-header-cell> ID</th>
    <td *matCellDef="let saleTransaction" mat-cell style="width: 10%"> {{saleTransaction.saleTransactionId}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th *matHeaderCellDef mat-header-cell> Date </th>
    <td *matCellDef="let saleTransaction" mat-cell style="width: 10%"> {{saleTransaction.transactionDateTime | date}} </td>
  </ng-container>

  <ng-container matColumnDef="totalAmount">
    <th *matHeaderCellDef mat-header-cell> Total Amount</th>
    <td *matCellDef="let saleTransaction" mat-cell style="width: 15%"> {{format(saleTransaction.totalAmount)}} </td>
  </ng-container>
              
  <ng-container matColumnDef="refund">
    <th *matHeaderCellDef mat-header-cell> Refund Status </th>
    <td *matCellDef="let saleTransaction" mat-cell style="width: 10%">
      <span *ngIf="saleTransaction.voidRefund == true"> Refunded </span>
      <span *ngIf="saleTransaction.voidRefund == false"> NA </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="discountCodeUsed">
    <th *matHeaderCellDef mat-header-cell style="text-align: left"> Discount Code</th>
    <td *matCellDef="let saleTransaction" mat-cell style="width: 45%; text-align: left">

      <span *ngIf="saleTransaction.discountCodeEntity != null">

        <strong>{{saleTransaction.discountCodeEntity.discountCode}}</strong>

        {{getProductsMessage(saleTransaction.discountCodeEntity)}}

      </span>
      <span *ngIf="saleTransaction.discountCodeEntity == null">
        None
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="pointsUsed">
    <th *matHeaderCellDef mat-header-cell> Points Used </th>
    <td *matCellDef="let saleTransaction" mat-cell style="width: 10%"> {{saleTransaction.pointsToUse > 0 ? saleTransaction.pointsToUse : '0' | number:'0.0-2'}} </td>
  </ng-container>


  <ng-container matColumnDef="table-header">
    <th *matHeaderCellDef class="header" colspan="6" mat-header-cell> My Sale Transactions</th>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="saleTransactionLineItems">
    <!-- Might need ngFor -->
    <td *matCellDef="let saleTransaction" [attr.colspan]="columnsToDisplay.length" class="expandedContainer" mat-cell>
      <div [@detailExpand]="saleTransaction == expandedSaleTransaction ? 'expanded' : 'collapsed'"
           class="example-element-detail">

        <div class="details">
          <!-- <div *ngFor="let lineItem of saleTransaction.saleTransactionLineItemEntities"> -->
          <table [dataSource]="saleTransaction.saleTransactionLineItemEntities" class="mat-elevation-z1" mat-table>

            <ng-container matColumnDef="productImage">
              <th *matHeaderCellDef mat-header-cell> Product</th>
              <td *matCellDef="let lineItem" class="imageCol" mat-cell>
                <img [routerLink]="['/product', lineItem.productEntity.productId]"
                     src={{lineItem.productEntity.productImageUrl}}>
              </td>
            </ng-container>

            <ng-container matColumnDef="productName">
              <th *matHeaderCellDef mat-header-cell> Name</th>
              <td *matCellDef="let lineItem" mat-cell>
                          <span [routerLink]="['/product', lineItem.productEntity.productId]" class="prodName">
                            {{lineItem.productEntity.name}} 
                          </span>
              </td>
            </ng-container>

            <ng-container matColumnDef="quantity">
              <th *matHeaderCellDef mat-header-cell> Quantity</th>
              <td *matCellDef="let lineItem" mat-cell> {{lineItem.quantity}} </td>
            </ng-container>

            <ng-container matColumnDef="sub-total">
              <th *matHeaderCellDef mat-header-cell> Sub-total</th>
              <td *matCellDef="let lineItem" mat-cell> {{format(lineItem.subTotal)}} </td>
            </ng-container>

            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
          </table>
        </div>
      </div>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="['table-header']" mat-header-row></tr>
  <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
  <tr (click)="expandedSaleTransaction = expandedSaleTransaction === saleTransaction ? null : saleTransaction" *matRowDef="let saleTransaction; columns: columnsToDisplay;" [class.example-expanded-row]="expandedSaleTransaction === saleTransaction"
      class="example-element-row expandable"
      mat-row>
  </tr>
  <tr *matRowDef="let row; columns: ['saleTransactionLineItems']" class="example-detail-row" mat-row></tr>
</table>
