/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~css-star-rating/css/star-rating.css';
body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
  max-width: 100%;
  overflow-x:hidden;
}

.loginBg .mat-dialog-container{
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  opacity: 0.97;
}

.registerBg .mat-dialog-container{
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  opacity: 0.97;
}
