<mat-card class="card" [routerLink]="['/product', product.productId]">
  <img mat-card-image src="{{product.productImageUrl}}"/>
  <mat-card-header class="header">
    <mat-card-title>{{product.name}}</mat-card-title>
    <mat-card-subtitle>{{product.categoryEntity.name}}
    </mat-card-subtitle>
    <br/>
  </mat-card-header>
  <mat-card-content class="content">
    <div>
      <span *ngIf="numberOfRatings > 0">
        {{averageRating | number:'0.2-2'}}/5.00
      </span>
      <span *ngIf="numberOfRatings == 0">
        No Reviews Yet
      </span>
      <star-rating [starType]="'svg'" [readOnly]="true" [rating]="averageRating" [showHalfStars]="true"
                   labelText="({{numberOfRatings}})" labelPosition="right"></star-rating>
    </div>
    <mat-divider></mat-divider>
    <h5 class="price">
      {{format(product.unitPrice)}} </h5>
  </mat-card-content>
</mat-card>
