::ng-deep .mat-select-content{
    width:2000px;
    background-color: red;
    font-size: 10px;   
}
.communityGoal {
    color: #0fff;
}

.carousel {
    width: 1210px; 
    height: 360px;
}

.carousel-inner {
    width: 1210px; 
    height: 360px;
}

.progress {
    width:100%;
}

.cgGoalDisplay {
    padding: 8px 8px 8px 8px;
}

.mat-elevate-z3 {
    padding: 12px 12px 12px 12px;
}

.firstTable {
    padding: 12px 12px 12px 12px !important;
}

.cardProducts {
    padding: 8px 8px 8px 8px !important;
}
.card {
    background-color: whitesmoke;
}
