<div fxLayout="row wrap" fxLayoutGap="12px grid" fxLayoutAlign="start" class="card-deck-container">
  <div fxFlex fxFlexOrder="2">
    <div fxLayout="row wrap" fxLayoutGap="8px grid" fxLayoutAlign="start">
      <ng-container *ngFor="let product of products" class="card-item">
        <app-product-card fxFlex="1 1 25%" [product]="product"></app-product-card>
      </ng-container>
    </div>

  <!-- <carousel>
    <ng-container *ngFor="let product of products">
      <ng-container *carouselItem>
        <app-product-card fxFlex="1 1 25%" [product]="product"></app-product-card>
      </ng-container>
    </ng-container>
  </carousel> -->
  </div>
</div>