<mat-toolbar color="primary" class="topToolbar mat-elevation-z2">

    <mat-toolbar-row class="topMenu">
        <span class="phone">
            <button mat-button disabled style="color:white; padding: 0">
                <mat-icon>phone</mat-icon>&nbsp;&nbsp;+65 3106 3106
            </button>
            &nbsp;&nbsp;&nbsp;
            <button mat-button disabled style="color:white; padding: 0">
                <mat-icon>email</mat-icon>&nbsp;&nbsp;support@storecraft.com
            </button>
        </span>
        <div *ngIf="sessionService.getIsLogin() == false" class="topMenuButtons">
            <button mat-button (click)="openDialog()">Login</button>
            <button mat-button (click)="openRegisterDialog()">Register</button>
        </div>
        <div *ngIf="sessionService.getIsLogin() == true">
            <button mat-button disabled style="color:white; padding: 0">
                Welcome, {{sessionService.getCurrentCustomer().firstName 
                        + " " + sessionService.getCurrentCustomer().lastName }}
            </button>
            <button mat-button [routerLink]="['/profile', sessionService.getCurrentCustomer().customerId]">
                <mat-icon>account_circle</mat-icon>&nbsp;&nbsp;Account
            </button>
            <button mat-button (click)="logout()">Logout</button>
        </div>
    </mat-toolbar-row>

    <mat-toolbar-row class="mainHeaderContent">
        <a class="sclogo" routerLink="/index">
            <img style="height: 100%; width: auto" src="assets/images/scwhite.png" />
        </a>

        <form class="search-form">
            <input class="search-box" type="search" placeholder="Search" />
            <mat-icon inline color="primary" style="width: auto">search</mat-icon>
        </form>

        <div class="shopping-cart-section">
            <button id="shoppingCartBtn" mat-button [routerLink]="['/cart', sessionService.getCurrentCustomer().customerId]" >
                <mat-icon>shopping_cart</mat-icon>&nbsp;Shopping Cart
            </button>
        </div>
    </mat-toolbar-row>

    <mat-toolbar-row class="categoryNavbar">
        <button mat-button routerLink="/index">
            Home
        </button>
        <span *ngFor="let category of rootCategories">
            <!-- Handle branch node buttons here -->
            <span *ngIf="category.subCategoryEntities.length > 0">
                <button mat-button [matMenuTriggerFor]="menu.childMenu" #menuTrigger="matMenuTrigger">
                    {{category.name}}
                    <mat-icon>expand_more</mat-icon>
                </button>
                <app-category-menu-item #menu [categoryItems]="category.subCategoryEntities"></app-category-menu-item>
            </span>
            <!-- Leaf node buttons here -->
            <span *ngIf="category.subCategoryEntities.length === 0">
                <button mat-button>
                    {{category.name}}  
                </button>
            </span>
        </span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-menu #shoppingCartMenu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
</mat-menu>