<mat-toolbar color="primary" class="topToolbar">

    <mat-toolbar-row class="topMenu">
        <span class="phone">
            <button mat-button disabled style="color:white; padding: 0">
                <mat-icon class="phone-icon">phone</mat-icon>&nbsp;&nbsp;+65 3106 3106
            </button>
            &nbsp;&nbsp;&nbsp;
            <button mat-button disabled style="color:white; padding: 0">
                <mat-icon class="phone-icon">email</mat-icon>&nbsp;&nbsp;support@storecraft.com
            </button>
        </span>
        <div class="topMenuButtons">
            <button mat-button (click)="openDialog()">Login</button>
            <button mat-button routerLink=".">Register</button>
        </div>
    </mat-toolbar-row>

    <mat-toolbar-row class="mainHeaderContent">
        <img class="sclogo" src="assets/images/scwhite.png" />

        <form class="search-form">
            <input class="search-box" type="search" placeholder="Search" />
            <mat-icon inline color="primary" style="width: auto">search</mat-icon>
        </form>

        <div class="shopping-cart-section">
            <button id="shoppingCartBtn" mat-button [matMenuTriggerFor]="shoppingCartMenu">
                <mat-icon>shopping_cart</mat-icon>&nbsp;Shopping Cart
            </button>
        </div>
    </mat-toolbar-row>

    <mat-toolbar-row class="categoryNavbar">
        <button mat-button>
            Home
        </button>
        <mat-list-item *ngFor="let rootCategory of rootCategories">
            <button mat-button (click)="getSubCategoriesFor(rootCategory)" [matMenuTriggerFor]="categoryMenu">
                {{rootCategory.name}}
            </button>
        </mat-list-item>
    </mat-toolbar-row>

</mat-toolbar>

<mat-menu #categoryMenu="matMenu">
    <mat-nav-list>
        <mat-list-item *ngFor="let subCategory of subCategories">
            <a routerLink=".">{{subCategory.name}}</a>
        </mat-list-item>
    </mat-nav-list>
</mat-menu>

<mat-menu #shoppingCartMenu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
</mat-menu>