.content {
    justify-content: center;
    align-content: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.content2 {
    justify-content: center;
    justify-items: center;
    align-content: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.translucent {
    opacity: 0.9;
}

.translucentCard{
    opacity: 0.9;
}

.leftCell {
    text-align: left;
}

.table {
    width: 100%;
    align-self: center;
}

mat-card{
    border-radius: 0;
}

.mat-card-header {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

::ng-deep .mat-card-header-text{
  width: unset;
}

.mainHeader{
    margin: -16px -16px -24px -16px !important;
    background-color: rgba(0, 0, 0, 0.1);
    padding-top: 12px;
    padding-bottom: 12px;
}

.headerText {
    margin-bottom: 0 !important;
    font-size: 4vw;
    color: white;
}

.card {
    text-align: center;
    margin-top: 1vw;
    background-image: url('/assets/images/UserProfileBackground.gif');
    background-size: contain;
}

.formField {
    width: 90%;
}

.avatar {
    height: 10vw;
    width: 10vw;
}

.avatar2 {
    height: 7vw;
    width: auto;
}

.avatar2:hover{
  cursor: pointer
}

.infoIcon:hover{
  transform:scale(1.2)
}

