img {
    width: auto;
    height: 70%;
    align-content: center;
    text-align: center;
}

.mat-raised-button {
    height: 60px;
    width: 240px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.quantity {
    height: 60px;
    width: 30px;
    font-size: 20px;
}

.reviewContent, .reviewHeader {
    margin-left: 3vw;
    margin-right: 3vw;
}

h3.reviewName {
    background-color:rgb(63,81,181, 0.2);
    height: 3.5vw;
    padding-top: 10px;
    padding-left: 30px;
}
