<div fxLayout="row" fxLayoutAlign="center stretch">
  <div class="alert alert-success messages" style="text-align: center" role="alert"
       *ngIf="addToCartMessage && !addToCartMessageClose">
    {{addToCartMessage}}
  </div>
  <div class="alert alert-success messages" style="text-align: center" role="alert"
       *ngIf="prizeClaimMessage?.length > 0">
    {{prizeClaimMessage}}
  </div>
</div>
<div fxLayout="row wrap" fxLayoutGap="12px grid" fxLayoutAlign="center">
  <div class="mat-elevate-z3" fxFlex="1 1 98%" fxFlexOrder="1">
    <mat-card class="card">

      <mat-card-content>

        <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="12px grid" class="productDetailsContainer">
          <div fxFlex="1 1 40%">
            <img class="productImage mat-elevation-z3" src="{{product?.productImageUrl}}"/>
          </div>

          <div fxFlex="1 1 60%" class="paddingZero">
            <mat-card style="height:100%">

              <mat-card-header class="header">
                <mat-card-title class="headerText">{{product?.name}}</mat-card-title>
                <mat-card-subtitle class="headerSubText">{{product?.description}}</mat-card-subtitle>
              </mat-card-header>
              <mat-divider></mat-divider>

              <mat-card-content class="content">

                <div style="display:inline-block; margin-bottom: 2vw">

                  <star-rating [starType]="'svg'" [readOnly]="true" [rating]="averageRating" [showHalfStars]="true"
                               labelText="({{numberOfRatings}} {{numberOfRatings == 1 ? 'Review' : 'Reviews'}})" labelPosition="right"></star-rating>
                  <span *ngIf="numberOfRatings > 0"> Average Rating: {{averageRating | number:'0.2-2'}}/5.00 </span>
                  <span *ngIf="numberOfRatings == 0"> No Reviews Yet </span>

                </div>

                <h3 class="price">{{format()}}</h3>

                <div class="quantityAdjust" *ngIf="product?.quantityOnHand > 0">
                  <span class="quantityWord">Quantity: </span>&nbsp;&nbsp;&nbsp;&nbsp;
                  <button class="quantity" mat-raised-button disabled="{{quantity==0}}"
                          (click)="minus()">-
                  </button>&nbsp;&nbsp;&nbsp;&nbsp;
                  <span class="quantityWord">{{quantity}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                  <button class="quantity" mat-raised-button
                          disabled="{{quantity >= product?.quantityOnHand}}" (click)="add()">+
                  </button>
                  <span>&nbsp;&nbsp;(Stock: {{product?.quantityOnHand}})</span>
                </div>
                <div *ngIf="product?.quantityOnHand == 0">
                  <p class="outOfStock">Product of stock</p>
                </div>

              </mat-card-content>
              <mat-card-actions *ngIf="product?.quantityOnHand > 0">
                <button *ngIf="currentCustomer!=null && !existInCart" mat-raised-button color="accent" (click)="addToCart()" disabled="{{quantity == 0}}">
                  Add to Cart</button>
                <button *ngIf="currentCustomer!=null && existInCart" mat-raised-button color="primary"
                [routerLink]="['/cart', sessionService.getCurrentCustomer()?.customerId]">
                    Go to cart</button>
                <button *ngIf="currentCustomer==null" mat-raised-button color="primary" (click)="openDialog()">Login To
                  Purchase
                </button>
                <button *ngIf="product?.isScavengerHuntPrize && currentCustomer != null && canCustomerWin"
                        mat-raised-button color="warn" (click)="claimScavengerHuntPrize()">
                  <mat-icon>redeem</mat-icon> Claim Scavenger Hunt Prize
                </button>
              </mat-card-actions>
              <mat-divider></mat-divider>
              <mat-card-footer class="footer">
                <span class="footerItem"><strong>&nbsp;&nbsp;Tags: </strong></span>&nbsp;
                <mat-chip-list class="footerItem">
                  <mat-chip *ngFor="let tag of product?.tagEntities">{{tag.name}}</mat-chip>
                </mat-chip-list>
              </mat-card-footer>
            </mat-card>

          </div>

          <!--REVIEWS-->
          <div fxFlex="1 1 100%" class="paddingZero">

            <mat-toolbar color="primary" class="mat-elevation-z2">
              <span>Reviews</span>
              <span style="flex: 1 1 auto"></span>
              <button *ngIf="currentCustomer != null" mat-raised-button (click)="writeReview()">
                Write a Review
              </button>
            </mat-toolbar>
            <app-write-review [show]="isWriting" [productId]="product?.productId" (submitted)="cancelWriteReview(); refresh();"
                              (closed)="cancelWriteReview()"></app-write-review>
            <mat-accordion displayMode="flat">

              <!--ROOT REVIEWS-->
              <mat-expansion-panel *ngFor="let review of product?.reviewEntities.slice().reverse()"
                                   [disabled]="review.customerEntity != null && isEditing">
                <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">

                  <!--LEFT SIDE TITLE-->
                  <mat-panel-title class="reviewTitle">

                    {{review.customerEntity.firstName}} {{review.customerEntity.lastName}}

                    <button mat-raised-button color="accent" class="editReplyBtn"
                            *ngIf="review.customerEntity != null && review.customerEntity.customerId == currentCustomer?.customerId && !(isEditing && review.reviewId == editReviewId)"
                            (click)="editing(review);$event.stopPropagation()">Edit Review
                    </button>

                    <button mat-raised-button color="primary" class="editReplyBtn"
                            *ngIf="review.customerEntity != null && review.customerEntity.customerId == currentCustomer?.customerId && isEditing && review.reviewId == editReviewId"
                            (click)="$event.stopPropagation()" form="updateForm" type="submit">Save
                    </button>

                    <button mat-raised-button color="warn" class="editReplyBtn"
                            *ngIf="review.customerEntity != null && review.customerEntity.customerId == currentCustomer?.customerId && isEditing && review.reviewId == editReviewId"
                            (click)="cancelEdit(review);$event.stopPropagation()">Cancel Edit
                    </button>

                  </mat-panel-title>
                  <!--END OF LEFT SIDE TITLE-->

                  <!--RIGHT SIDE DESCRIPTION-->
                  <mat-panel-description>

                    <mat-list role="list" style="width: 100%">
                      <!--DATE-->
                      <mat-list-item role="listitem"><strong>{{review.reviewDate | date:'medium'}}</strong>
                      </mat-list-item>
                      <!--END OF DATE-->

                      <!--STAR RATING-->
                      <mat-list-item role="listitem">
                        <star-rating [starType]="'svg'"
                                     [rating]="!(review.customerEntity != null && isEditing && review.reviewId == editReviewId)?review.productRating:updatedProductRating"
                                     [readOnly]="!(review.customerEntity != null && isEditing)"
                                     (starClickChange)="onClick($event)"
                                     labelText="Rating:">
                        </star-rating>
                      </mat-list-item>
                      <!--END OF STAR RATING-->

                      <!--CONTENT BOX: If not editing, show the content, if editing, show text area-->
                      <!--PLAIN REVIEW CONTENT-->
                      <mat-list-item
                        *ngIf="!(review.customerEntity != null && isEditing && review.reviewId == editReviewId)"
                        role="listitem">
                        <div class="textBox">{{review.content}}</div>
                      </mat-list-item>
                      <!--END OF PLAIN REVIEW CONTENT-->

                      <!--TEXT AREA FORM (DISPLAY IF EDITING )-->
                      <mat-list-item
                        *ngIf="review.customerEntity != null && isEditing && review.reviewId == editReviewId"
                        role="listitem">

                        <form #updateForm="ngForm" (ngSubmit)="updateForm.valid?saveEdit():null" class="custReplyForm"
                              id="updateForm">
                          <mat-form-field class="replyContentField">

                            <textarea matInput name="updateTextArea" [(ngModel)]="updatedReviewContent"
                                      (keydown)="$event.stopPropagation()" #updateTextContent="ngModel"
                                      required></textarea>

                            <mat-error *ngIf="updateTextContent.errors?.required">
                              Content is <strong>required</strong>

                            </mat-error>

                          </mat-form-field>
                        </form>
                      </mat-list-item>
                      <!--END OF TEXT AREA FORM-->
                      <!--END OF CONTENT BOX-->

                    </mat-list>
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <!--EXPANDED CONTENT (REVIEW CHAIN-->
                <app-review-chain [rootReviewId]="review.reviewId"></app-review-chain>

              </mat-expansion-panel>
              <!--END OF ROOT REVIEW-->
            </mat-accordion>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
