<div class="mainBody">

  <div class="mainContainer">

    <div class="contentContainer">

      <div class="content">


        <h1>World Leaderboards</h1>
        <div class="buttons">
          <h2>
            <button (click)="getAllTimeTopCustomers()" mat-raised-button>
              Top Customers of All Time
            </button>

          </h2>
          <h2>
            <button (click)="getThisMonthTopCustomers()" mat-raised-button>
              Top Customers of This Month
            </button>

          </h2>
        </div>

        <div class="currentRank" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="12px grid">
          <table class="table currentRank" fxFlex="1 1 70%">
            <tr>
              <th colspan="2">
                Your Standings
              </th>
            </tr>
            <tr>
              <td style="width: 30%">
                Current Rank:
              </td>
              <td *ngIf="sessionService.getIsLogin()" style="width: 70%">
                {{currentCustomerRank}}
              </td>
              <td *ngIf="!sessionService.getIsLogin()">
                Login to view your information
              </td>
            </tr>
            <tr>
              <td>
                Current Reward:
              </td>
              <td *ngIf="sessionService.getIsLogin()">
                {{getCurrentReward()}}
              </td>
              <td *ngIf="!sessionService.getIsLogin()">
                Login to view your information
              </td>
            </tr>
            <tr>
              <td>
                Next Reward:
              </td>
              <td *ngIf="sessionService.getIsLogin()">
                {{getNextReward()}}
              </td>
              <td *ngIf="!sessionService.getIsLogin()">
                Login to view your information
              </td>
            </tr>
          </table>
          <table class="table prizes" fxFlex="1 1 30%">
            <tr>
              <th colspan="2">
                Prizes This Month
              </th>
            </tr>
            <tr>
              <td>
                Ranks 1-2
              </td>
              <td>
                20%
              </td>
            </tr>
            <tr>
              <td>
                Ranks 3-4
              </td>
              <td>
                15%
              </td>
            </tr>
            <tr>
              <td>
                Ranks 5-6
              </td>
              <td>
                10%
              </td>
            </tr>
            <tr>
              <td>
                Noobs
              </td>
              <td>
                5%
              </td>
            </tr>
          </table>
        </div>

        <img height="339" id="globe" src="/assets/images/globe.png" width="339">

        <div class="filterBar" fxLayout fxLayoutAlign="center center">
          <mat-form-field fxFlex="40%">
            <input (keyup)="doFilter($event.target.value)" matInput type="text">
            <mat-placeholder>Filter</mat-placeholder>
          </mat-form-field>
        </div>

        <div style="position:relative;z-index:2;">

          <table [dataSource]="dataSource" mat-table matSort class="leaderboardTable">

            <ng-container matColumnDef="rank">
              <th *matHeaderCellDef class="row-rank" mat-header-cell mat-sort-header> Rank</th>
              <td *matCellDef="let customer" class="row-rank" mat-cell> {{customer.rank}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th *matHeaderCellDef class="row-email" mat-header-cell mat-sort-header> Name </th>
              <td *matCellDef="let customer" class="row-email" mat-cell> {{customer.firstName}} {{customer.lastName}}
              </td>
            </ng-container>

            <ng-container matColumnDef="totalPoints">
              <th *matHeaderCellDef class="row-totalPoints" mat-header-cell mat-sort-header> 
                <span *ngIf="month==false">Total Points</span>
                <span *ngIf="month==true">Monthly Points</span>
              </th>
              <td *matCellDef="let customer" class="row-totalPoints" mat-cell>
                <span *ngIf="month==false"> {{customer.totalPoints | number:'0.0-2'}} </span>
                <span *ngIf="month==true">{{customer.pointsForCurrentMonth | number:'0.0-2'}}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="country">
              <th *matHeaderCellDef class="row-country" mat-header-cell mat-sort-header> Country</th>
              <td *matCellDef="let customer" class="row-country" mat-cell> {{customer.country}} </td>
            </ng-container>

            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

          </table>
          <mat-paginator (page)="pageChanged($event)" [pageSizeOptions]="[5, 10, 15, 20, 25]" [pageSize]="5">
          </mat-paginator>


        </div>

      </div>

    </div>

  </div>

</div>